


.footer__top__main {
  margin: 0 auto;
}

.top-bar {
justify-content: space-between;
}

.top-bar__contact, .about-us, .instagram {
  flex-basis: 32%;
}

.top-bar__contact i {
  padding-right: 5px;
}

.input__email {
  border: 1px solid black;
  border-right: none;
  padding: 2px 10px;
}

.button__email {
  box-shadow: none;
  border: 1px solid black;
  border-left: none;
  background-color: white;
  padding: 2px 10px;
}

.instagram__gallery {
  display: flex;
  flex-direction: row;
}

.instagram__list-item {
  flex-basis: 25%;
}

.image--social {
  width: 100%;
}

.footer__top__aside {
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.footer__list {
  width: 80%;
}

.footer__top__aside .link {
  margin: 10px;
  color: grey;
}

.footer__bottom__paragraph {
  margin: 0;
  color: white;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}