
.header {
  background-image: url(../assets/image-1.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  }
  
  .header__navigation {
    align-items: center;
    padding-top: 20px;
  }
  
  .header__navigation .heading3,
  .header__nav {
    flex-basis: 50%
  }
  
  .nav__list {
    justify-content: space-between;
  }

  .nav__list .link {
    transition: 0.5s;
  }

  .nav__list .link:hover {
    border-bottom: 4px solid #f2b094;
  }
  
  .bottom__header {
    justify-content: flex-end;
    &__main {
      flex-direction: column;
      height: 80vh;
      justify-content: center;
      &__heading {
        letter-spacing: 1px;
        font-size: 1.4rem;
        margin-bottom: 20px;
      }
    }
  }
  
  .button {
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 2.2px;
    font-size: 1.2rem;
    display: inline-block;
    width: 100px;
    padding: 5px;
    margin-bottom: 60px;
    transition: ease-in-out 0.5s;
  }

  .button:hover {
    background-color: #f2b094;
  }


/* ============================
MEDIA QUERIES 
============================ */

@media (max-width: 1150px) {

  .header {
    height: 70vh;
    }

  .header__navigation .heading3 {
    flex-basis: 15%;
  }

  .header__nav {
    flex-basis: 70%;
  }

  .nav__list {
    justify-content: flex-end;
  }

  .nav__list .list__item {
    margin: 0px 8px;
  }

  .bottom__header__main {
      width: 70%;
      height: 60vh;
      align-items: flex-end;
  }


}
